<script crossorigin="" src="https://static.monkeyshub.space/bubu/autoload.js"></script>

<div class="powered-by">
<small>Powered by &nbsp; <span style="color: #CC6C6C;"><i class="fab fa-node-js"></i></span>&nbsp<a href="https://hexo.io">hexo</a> & <span style="color: #CC6C6C;"><i class="fab fa-github-alt"></i></span>&nbsp;<a href="https://github.com/next-theme/hexo-theme-next">next</a> | <span style="color: #CC6C6C;"><i class="fa fa-user-ninja"></i></span>&nbsp;<a href="https://static.monkeyshub.space/resume/" title="Moj Resume">CV</a>&nbsp;<span style="color: #CC6C6C;"><i class="fab fa-github-alt"></i></span>&nbsp;<a href="https://github.com/sule82/monkeyshub_space/" title="Source Code sajta">source</a></small>
