<script crossorigin="" src="https://static.monkeyshub.space/bubu/autoload.js"></script>

<div class="powered-by">
<small class="green">Powered by <i class="fab fa-node-js"></i>&nbsp<a href="https://hexo.io">hexo</a> & <i class="fab fa-github-alt"></i>&nbsp;<a href="https://github.com/next-theme/hexo-theme-next">next</a> | with love <i class="fa fa-user-ninja"></i>&nbsp;<a href="https://static.monkeyshub.space/resume/" title="Moj Resume">CV</a>&nbsp;<i class="fab fa-github-alt"></i>&nbsp;<a href="https://github.com/sule82/monkeyshub_space/" title="Source Code sajta">source</a></small>
