.centar {
  text-align: center;
}

.site-author-image {
  background: transparent;
}
.fa-external-link-alt {
color: $green;
}
.tekst-150 {
font-size: 150%;
}
.tekst-120b {
font-size: 120%;
font-weight: 700;
}
.tekst-77-7 {
font-size: 0.77em;
opacity: 0.77;
}
.pink {
color: $pink;
}
.green {
color: $green;
}
code .lom {
word-break: break-word;
}
